.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;

  .nav-links-container {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .nav-link {
      cursor: pointer;
    }
}
