*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Saira Condensed', sans-serif;
  margin-inline: auto;
  max-width: 1200px;
  padding: 0 2rem;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

*::-webkit-scrollbar {
  width: .4rem;
  background-color: transparent;
  border-radius: 100rem;
}

*::-webkit-scrollbar-thumb {
  margin-block: 1rem;
  background-color: #626767;
  border-radius: 100rem;
}